$ cat .gitattributes
Ordenacao_E_Recuperacao_De_Dados_2019.2/binary_heap/c/instancias-num/*.*.in -text
Ordenacao_E_Recuperacao_De_Dados_2019.2/binary_heap/cpp/instancias-num/*.*.in -text
Ordenacao_E_Recuperacao_De_Dados_2019.2/binary_heap/cpp/cpp/instancias-num/*.*.in -text

